In [1]:
import pyspark
# sc.setLogLevel("ERROR")

In [2]:
df = spark.read.csv('foia_up_to_150k_CA.csv', header='true')

In [3]:
print(type(df))
df.printSchema()

<class 'pyspark.sql.dataframe.DataFrame'>
root
 |-- LoanAmount: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip: string (nullable = true)
 |-- NAICSCode: string (nullable = true)
 |-- BusinessType: string (nullable = true)
 |-- RaceEthnicity: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Veteran: string (nullable = true)
 |-- NonProfit: string (nullable = true)
 |-- JobsRetained: string (nullable = true)
 |-- DateApproved: string (nullable = true)
 |-- Lender: string (nullable = true)
 |-- CD: string (nullable = true)

In [4]:
# df.sample(False, 0.5, 42).count()

In [5]:
df.createOrReplaceTempView("ppp_loans")

In [ ]:
SQL = """
SELECT City,   
    CAST(
          SUM(LoanAmount)       
          AS INT
        )         
    AS Total
FROM ppp_loans
GROUP BY City
ORDER BY Total DESC

"""

df1 = spark.sql(SQL)
df1.show(20, False)