In [1]:
import pyspark

In [2]:
df = spark.read.csv('Addresses.csv', header='true')

In [3]:
df.printSchema()

root
 |-- address: string (nullable = true)
 |-- icij_id: string (nullable = true)
 |-- valid_until: string (nullable = true)
 |-- country_codes: string (nullable = true)
 |-- countries: string (nullable = true)
 |-- node_id: string (nullable = true)
 |-- sourceID: string (nullable = true)

In [4]:
df.createOrReplaceTempView("address_table")

In [14]:
SQL = """
SELECT address, countries
FROM address_table
WHERE address LIKE '%Los Angeles%'
"""

df1 = spark.sql(SQL)
df1.show(10, False)

+----------------------------------------------------------------+-------------+
|address                                                         |countries    |
+----------------------------------------------------------------+-------------+
|2138 Holmby Avenue Los Angeles, CA 90025 USA                    |United States|
|2062 Dracena Dr. #10 Los Angeles, CA 90027 USA                  |United States|
|3210 Sawtelle Blvd #104 Los Angeles, CA 90066 USA               |United States|
|13209 W. Sunset Blvd Los Angeles CA 90049                       |United States|
|10341 Bannockburn Drive Los Angeles, CA 90064                   |United States|
|Room 2250, 10880 Wilshire Blvd, Los Angeles,CA 90024, U.S.A.    |United States|
|12309 W. Sunset Blvd Los Angeles CA 90049                       |United States|
|8001 Highland Trail Los Angeles, CA 90046 USA                   |United States|
|63 Freemont Place Los Angeles, Ca 90005 USA                     |United States|
|2049 Century Park East Suite 3110 Los Angeles, CA 90067-3274 USA|United States|
+----------------------------------------------------------------+-------------+
only showing top 10 rows